---
# NeuraForge C++ Code Formatting Configuration
# Based on Google style with C++20 modern features support

Language: Cpp
BasedOnStyle: Google

# Basic formatting
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Alignment
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: 
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true

# Allows
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

# Binary operators
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: Both

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Breaking
BreakAfterJavaFieldAnnotations: false
BreakArrays: true
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: Always
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true

# Comments
CommentPragmas: '^ IWYU pragma:'
CompactNamespaces: false

# Constructor
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

# C++11/14/17/20 features
Cpp11BracedListStyle: true
DeriveLineEnding: true
DerivePointerAlignment: false

# Empty lines
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

# Experimental features
ExperimentalAutoDetectBinPacking: false

# Fixing
FixNamespaceComments: true

# For each macros
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH

# If macros
IfMacros:
  - KJ_IF_MAYBE

# Include sorting
IncludeBlocks: Regroup
IncludeCategories:
  # Main header (for .cpp files)
  - Regex: '^".*\.hpp"$'
    Priority: 1
    SortPriority: 1
    CaseSensitive: false
  # Project headers
  - Regex: '^<neuraforge/.*\.hpp>$'
    Priority: 2
    SortPriority: 2
    CaseSensitive: false
  # Third-party library headers
  - Regex: '^<(torch|eigen3|opencv|spdlog|fmt|tbb|catch2|benchmark)/.*>$'
    Priority: 3
    SortPriority: 3
    CaseSensitive: false
  # System headers
  - Regex: '^<.*\.h>$'
    Priority: 4
    SortPriority: 4
    CaseSensitive: false
  # C++ standard library
  - Regex: '^<.*>$'
    Priority: 5
    SortPriority: 5
    CaseSensitive: false
IncludeIsMainRegex: '(Test)?$'
IncludeIsMainSourceRegex: ''

# Indentation
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true
IndentPPDirectives: None
IndentRequiresClause: true
IndentWrappedFunctionNames: false

# Insert braces
InsertBraces: false

# Lambda
LambdaBodyIndentation: Signature

# Line ending
LineEnding: DeriveLF

# Macros
MacroBlockBegin: ''
MacroBlockEnd: ''

# Namespace
NamespaceIndentation: None

# Penalties (fine-tuning for line breaking decisions)
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakOpenParenthesis: 0
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyIndentedWhitespace: 0
PenaltyReturnTypeOnItsOwnLine: 200

# Pointer alignment
PointerAlignment: Left

# Qualifiers
QualifierAlignment: Leave

# Raw strings
RawStringFormats:
  - Language: Cpp
    Delimiters:
      - cc
      - CC
      - cpp
      - Cpp
      - CPP
      - 'c++'
      - 'C++'
    CanonicalDelimiter: ''
    BasedOnStyle: google

# References
ReferenceAlignment: Pointer

# Reflection
ReflowComments: true

# Requires clause
RequiresClausePosition: OwnLine

# Separator
SeparateDefinitionBlocks: Leave

# Short namespace
ShortNamespaceLines: 1

# Sorting
SortIncludes: CaseSensitive
SortJavaStaticImport: Before
SortUsingDeclarations: true

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros: true
  AfterOverloadedOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Standard
Standard: c++20

# Statement macros
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION

# Tab width
TabWidth: 4

# Trailing comma
InsertTrailingCommas: None

# Use tab
UseTab: Never

# Whitespace sensitive macros
WhitespaceSensitiveMacros:
  - STRINGIZE
  - PP_STRINGIZE
  - BOOST_PP_STRINGIZE
  - NS_SWIFT_NAME
  - CF_SWIFT_NAME